.section__quotes h1 {
  text-align: center;
}

.quotes {
  display: flex;
  justify-content: space-between;
}

.quote {
  flex-basis: auto;
  width: 33%;
}

.quote .card {
  height: 260px;
}

@media screen and (max-width: 996px) {
  .quotes {
    padding: 0 1em;
    flex-direction: column;

  }

  .quote {
    width: 100%;
    margin-bottom: 1em;
  }

  .quote .card {
    height: auto;
  }
}