.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.features h1 {
  text-align: center;
}
.featureSvg {
  height: 200px;
  width: 200px;
}
