/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 [data-theme='dark'] {
  --ifm-color-primary: #FFFFFF;
  --ifm-background-color: #00050B !important; 
  --ifm-background-surface-color: #00050B !important; 
  --ifm-font-color-base: #FFFFFF !important; 
  --ifm-breadcrumb-item-background-active: #777777 !important;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-secondary: #777777;
  --ifm-code-background: #0a0a23 !important; 
  --ifm-heading-color: #FFFFFF !important
}

[data-theme='dark'] #__docusaurus > footer {
  background-color: #040607; 
[data-theme='dark'] #__docusaurus > nav,
[data-theme='dark'] #__docusaurus main,
[data-theme='dark'] #__docusaurus aside {
  background-color: #040607; 
}
}

[data-theme='dark'] .navbar__title, .navbar__link {
  color: #FFFFFF !important; 
}

[data-theme='dark'] .footer__link {
  color: #CFCFCF !important; 
}

[data-theme='dark'] .hero--primary {
  --ifm-hero-background-color: #00050B;
}

a {
  color: #2588E4;
  text-decoration: none !important;
}

[data-theme='dark'] .button.button--secondary {
  color: #00050B;
  background-color: #FFFFFF;
}

[data-theme='dark'] .alert {
 border: rgb(0, 139, 0);
}

[data-theme='dark'] .col--3 {
  color: #CFCFCF !important;
}

[data-theme='dark'] .footer__title {
  color: #FFFFFF !important; 
}