/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 [data-theme='light'] {
  --ifm-color-primary: #00283D;
  --ifm-background-color: #FAFAFA; 
  --ifm-background-surface-color: #FFFFFF; 
  --ifm-link-color: #2588E4 !important; 
  --ifm-font-color-base: #00050B !important; 
  --ifm-code-font-color: #00050B; 
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-footer-background-color: #00283D; 
  --ifm-navbar-background-color: #FFFFFF; 
  --ifm-navbar-link-color: #00050B; 
  --ifm-heading-color: #00050B; 
}

[data-theme='light'] #__docusaurus > footer {
  background-color: #FFFFFF; 
}

[data-theme='light'] .hero__title {
  color: #00050B !important; 
}

[data-theme='light'] .hero--primary {
  --ifm-hero-background-color: #FAFAFA !important;
}

.button.button--secondary {
  color: #FFFFFF;
  background-color: #00050B;
}
