name: "Rebuild and deploy documentation"

on:
  workflow_dispatch:
    inputs:
      force:
        type: boolean
        description: If to force the execution
        default: false
      git_ref:
        type: string
        description: The git ref
        default: main
      original_event:
        description: The git event to simulate
        type: string
        default: push_on_main
  workflow_call:
    inputs:
      force:
        type: boolean
        default: false
      git_ref:
        type: string
        default: main
      original_event:
        type: string
    secrets:
      GH_API_TOKEN:
        description: "GitHub API Token"
        required: true
      TARGET_REPO:
        description: "The repo wheere Docusaurus is"
        required: true
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_API_TOKEN }}
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"
      - name: Install dependencies
        run: npm install
      - name: Check local and remote versions
        id: check
        run: |
          node scripts/check.mjs >> $GITHUB_OUTPUT
        env:
          TARGET_REPO: ${{ secrets.TARGET_REPO }}
          GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}
      - name: Print current versions
        run: |
          echo "Remote versions: ${{ steps.check.outputs.remote-versions }}"
          echo "Docs version: ${{ steps.check.outputs.local-versions }}"
          echo "Update needed: ${{ steps.check.outputs.needs-update }}"
      - name: Build documentation
        if: inputs.original_event == 'push_on_main' || inputs.force || steps.check.outputs.needs-update == 'true'
        run: |
          node scripts/build.mjs 'main ${{ steps.check.outputs.build-arg }}'
        env:
          TARGET_REPO: ${{ secrets.TARGET_REPO }}
          GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}
      - name: Push commit
        if: inputs.original_event == 'push_on_main' || inputs.force || steps.check.outputs.needs-update == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[automated commit] Bump docs to versions ${{ steps.check.outputs.remote-versions }}"
          tagging_message: "${{ steps.check.outputs.tag }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to GitHub Pages
        if: inputs.original_event == 'push_on_main' || inputs.force || steps.check.outputs.needs-update == 'true'
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
